.post {
  height: 47rem;
}
.postContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.itemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postItem {
  width: 80%;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 1rem;
  row-gap: 4rem;
  margin: 2rem auto;
}

.card {
  width: 20vw;
  height: 15vh;
  padding: 1rem;
}

.title,
.content,
.time {
  margin-bottom: 1rem;
}

#deleteBtn {
  width: 9rem;
  background: #ff6c53;
  box-shadow: none;
  color: #f0f8ff;
  margin-left: 6rem;
}

#deleteBtn:hover {
  background: #d43f25;
}
